<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us | SHREE GANGA MEDICAL</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">SHREE GANGA MEDICAL</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about" class="active">About</a></li>
        <li><a href="/services">Services</a></li>
        <li>
    <a href="https://www.google.com/maps/place/Shree.+Ganga+Medical+%26+Gen.+Store/@17.2820948,76.2132371,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc616d340000001:0xf16a7abf961ca969!8m2!3d17.2820948!4d76.215812!16s%2Fg%2F11f15gn3tz?entry=ttu"
       target="_blank">
       Location
    </a>
</li>
        
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/healthtips">Health Tips</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<section class="page-banner">
    <h1>About Us</h1>
</section>

<section class="content">

<h2>Welcome to SHREE GANGA MEDICAL AND GENERAL STORE</h2>

<p>
Welcome to Shree Ganga Medical & General Store, a trusted healthcare destination serving the community with dedication since 2000.

For over 25 years.
 we have been committed to providing genuine medicines, healthcare products, and compassionate customer service. 
 Throughout this journey, we have earned the trust and confidence of thousands of customers by consistently delivering quality products and reliable healthcare solutions.

At our store, customer health and satisfaction always come first. Whether it's prescription medicines, over-the-counter products, wellness essentials, or veterinary medicines, we strive to ensure that every customer receives the right products with professional care and friendly service.

Our long-standing relationships with our customers reflect the trust, reliability, and commitment that have defined us since the very beginning.

Today, we continue our mission of serving the community with honesty, quality, and care—because your health is our highest priority.
</p>

<h2>Our Mission</h2>

<p>
To provide genuine medicines, quality healthcare products, and trusted pharmacy services while ensuring every customer receives the care, respect, and support they deserve.
</p>

<h2>Why Choose Us?</h2>

<ul>
<li>📅 Established: 2000</li>
<li>🏥 25+ Years of Trusted Service</li>
<li>😊 Thousands of Happy Customers</li>
<li>🐄 Veterinary Medicines Available</li>
<li>💊 100% Genuine Medicines</li>
<li>❤️ Trusted Healthcare Partner Since 2000</li>
</ul>

</section>

<footer>
<p>© 2026 SHREE GANGA MEDICAL AND GENERAL STORE</p>
</footer>

</body>
</html>